<%- include('./partials/header.ejs') %>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="card shadow">
                    <img src="https://www.pngmagic.com/product_images/nature-background-with-tropical-plants_84e.jpeg"
                        class="img-fluid card-img-top" alt="wallpaper">

                    <div class="card-body p-4">
                        <h2 class="crad-title fw-bold text-secondary">Title</h2>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, animi ullam a velit
                            enim expedita ab et nulla quasi, iste mollitia, consectetur cum perferendis cumque
                            cupiditate autem repellat placeat veritatis?
                        </p>
                        <div>
                            <a href="/posts/123" class="btn btn-primary btn-sm">Read More</a>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>Author: Mark Zuckerberg</div>
                            <div>Created: Created:11-21-2024</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card shadow">
                    <img src="https://www.pngmagic.com/product_images/nature-background-with-tropical-plants_84e.jpeg"
                        class="img-fluid card-img-top" alt="wallpaper">

                    <div class="card-body p-4">
                        <h2 class="crad-title fw-bold text-secondary">Title</h2>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, animi ullam a velit
                            enim expedita ab et nulla quasi, iste mollitia, consectetur cum perferendis cumque
                            cupiditate autem repellat placeat veritatis?
                        </p>
                        <div>
                            <a href="/posts/123" class="btn btn-primary btn-sm">Read More</a>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>Author: Mark Zuckerberg</div>
                            <div>Created: Created:11-21-2024</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>